
/* 
main >a> #banner{
    background-image: url(../img/genjibanner.jpg);
}
main >a> #bannerVideojuegos {
    background-image: url(../img/2x1_NSwitch_DonkeyKongCountryReturnsHD_image1600w.jpg);
}
main >a> #bannerEsports {
    background-image: url(../img/Movistar-KOI.jpeg);
} */


